<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
     
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
       
          <agm-map  [zoom]="16" [latitude]="lat" [longitude]="lng">
           <agm-marker (markerClick)="UpdatePatients(patient._id)"  *ngFor="let patient of patients" [latitude]="patient.AddressP.latitude" [longitude]="patient.AddressP.longitude" [iconUrl]="'./assets/img/icons/patient.png'" >
		 
         
          <agm-info-window  >

              <h4 style="text-align:center"><strong> Patient Info</strong> </h4>

              <div class="container">

              
                  <div class="modal-body">
                    <div><strong>Id:</strong>  {{pat.Id}}</div>
                    
                    <div><strong>Name:</strong>   {{pat.Name}}</div>
                    
                    <div><strong>Condition:</strong>   {{pat.Conditions}}</div>
                    
	               <div ><strong>Patient Data:</strong> 
			

                      <!-- <div *ngIf="patiData[patiData.length-1].steps===0; then thenBlock else elseBlock"> </div> -->

                     
                      <!-- <ng-template  #thenBlock> -->
                        
                        
                       <!-- <div><strong>Number of steps :</strong>  Not defined  <strong>/2000</strong></div> -->
                       <!-- <div><strong>Sleeping Hours :</strong>  Not defined  <strong>/8</strong></div> -->
                      
                      
                      
                      <!-- </ng-template> -->
                      
                     
                      
                      
                      <!-- <ng-template #elseBlock> -->
                         
                          <div><strong>Number of steps :</strong>  {{patiData[patiData.length-1].steps}} <strong>/2000</strong></div>
                          <div><strong>Sleeping Hours :</strong>  {{patiData[patiData.length-1].sleepingHours}} <strong>/8</strong></div>
                        
              
                      <!-- </ng-template> -->
                      </div>
                  
                  </div>
                  <div class="modal-footer">
                    <button (click)="Navigate(patient._id)" style="text-align:center" type="button" class="btn btn-info">Data Graph </button>
                  </div>


               
              </div>





            </agm-info-window>
          </agm-marker>
		  
		    <agm-marker *ngIf="ThereIsEmergency===true;" [latitude]="patientLocation.latitude" [longitude]="patientLocation.longitude"  [iconUrl]="'./assets/img/icons/emergency.png'"> 	</agm-marker>
		
          </agm-map>

        
            
            <div class="table-responsive">
			 <div class="scrollit">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Patient</th>
                    <th scope="col">Emergency Description</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                   
                   
                   
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let msgsEmer of msgsEmergencies">
                  <th>{{msgsEmer.name}}</th>
                  <td>
				  
				   <div *ngIf="msgsEmer.heartrate>=100; then thenBlock3 "> </div>

                     
                      <ng-template  #thenBlock3>
                        
                        
                       <div>  High Heartrate : {{msgsEmer.heartrate}}  bpm</div>
                      
                      
                      
                      
                      </ng-template>
                      
                     
                      
                      
                     <div *ngIf="msgsEmer.heartrate<=55; then thenBlock4 "> </div>

                     
                      <ng-template  #thenBlock4>
                        
                        
                       <div>  Low Heartrate : {{msgsEmer.heartrate}}  bpm</div>
                      
                      
                      
                      
                      </ng-template>
					  
					  <div *ngIf="msgsEmer.heartrate>55 && msgsEmer.heartrate<100 ; then thenBlock5 "> </div>

                     
                      <ng-template  #thenBlock5>
                        
                        
                       <div>  Normal Heartrate : {{msgsEmer.heartrate}}  bpm</div>
                      
                      
                      
                      
                      </ng-template>
				  
				  
				  
				  
				  
				  
				  </td>
                  
                  <td>{{msgsEmer.location | json}} </td>
                 
                  <td></td>
                  <td></td>
                  <td><button type="button" class="btn btn-success">Acquit </button> </td>
    
                </tr>
                </tbody>
               </table>
			   
			   </div>
               
            
            
          </div>
        </div>
      </div>
    </div>
  </div>


